{% extends "./layouts/app.twig" %}

{% block body %}
	<body>
        <div class="flex justify-center">
            <div class="mt-32">
                <img class="w-96 hidden md:block" src="/img/code.png" alt="Code">
            </div>
            <div class="mt-32 w-72 flex justify-center bg-white rounded-lg">
                <div class="pt-8 pl-8 pr-8 pb-2">
                    <img class="w-32 mx-auto" src="/img/binsta.png" alt="Binsta">
                    <form method="POST" class="flex flex-col pt-2">
                        <label for="username" class="pt-1">Username</label>
                        <input type="text" class="border-2 border-black w-60 rounded pl-2 pr-2" name="username" required/>
                        <label for="username" class="pt-1">Password</label>
                        <input type="password" class="border-2 border-black w- rounded pl-2 pr-2" name="password" required/>
                        <button name="submit" class="border-2 bg-zinc-100 border-black w-20 mt-4 rounded" value="userLogin">Log in</button>
                    </form>
                    <div class="pt-4 pb-4">
                        <a class="text-blue-800" href="/user/register">Don't have an account?</a>
                    </div>
                </div>
            </div>
        </div>
	</body>
{% endblock %}
